:root {
  --primary-color: #006dea;
  --background-color: #f5f5f5;
  --surface-color: #fff;
  --error-color: #b00020;
  --text-color: #333;
  --text-secondary: #666;
  --font-family: "Poppins", sans-serif;
  --border-radius: 12px;
  --border-color: #e0e0e0;
  --box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 400px 1fr;
  height: 100%;
  overflow: hidden;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.input-section {
  background-color: var(--surface-color);
  padding: 30px;
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: 4px 0 10px rgb(0 0 0 / 2%);
  z-index: 10;
}

.notes-list-section {
  padding: 30px;
  overflow-y: auto;
  background-color: var(--background-color);
}

.notes-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  padding-bottom: 40px;
}

@media (width <= 900px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    overflow-y: auto;
  }

  body {
    overflow: auto;
    height: auto;
    display: block;
  }

  .input-section {
    border-right: none;
    border-bottom: 1px solid var(--border-color);
    height: auto;
    overflow: visible;
  }

  .notes-list-section {
    overflow: visible;
    height: auto;
  }
}
